

//program groups
.page-node-8 #block-system-main .field.body{
    font-size:18px;
    line-height: 22px;
    max-width:700px;

}


#block-views-certificate-programs-block{
    .section-heading {
        margin: 0 0 20px;
        font-size: 18px;
        text-transform: uppercase;
    }
    .block-content{
        background: #fff;
        @include box-shadow( 1px 1px 4px -1px rgba(0,0,0,0.3));


        .views-row{
            padding: 20px;
            background: #fff;

            h2{
                font-weight: 400;
                font-size: 22px;
                display: block;
                float: none;
                margin: 0 0 10px;

            }
            .left{
                max-width: 810px;
                font-size: 15px;
                line-height: 19px
            }
            .right{
                h5{
                    font-size: 18px;
                    line-height: 20px;
                    margin: 0;
                }
                ul{
                    margin:0 -5px;
                    padding:0;
                    list-style: none;
                    li{
                        float: left;
                        padding: 0;
                        margin: 0.5%;
                        width: 24%;
                        display: table;
                        a{
                            display: table-cell;
                            padding: 0px 10px;
                            background: #E2ECF0;
                            margin: 5px;
                            height: 70px;
                            text-align: center;
                            vertical-align: middle;
                            &:hover{
                                background: #eee;
                            }
                        }
                    }
                }
            }
            &.views-row-even{
                background:#f9f9f9;
                .right ul li a{
                    background:#E2ECF0;
                    &:hover{
                        background:#eee;
                    }
                }
            }
        }
    }
}


.node-ghel-grp-program,
.node-ghel-grp-study{
    @extend .clearfix;

    .ds-content{
        width: 100%;
        padding-right:20px;
        float: none;
        margin: 0;
        box-sizing: border-box;
    }
    .ds-aside{
        border:none;
        padding: 20px 0 0;
        border-top:1px solid #ddd;
        float: none;
        width: 100%;
        margin: 20px 0;
        background:none;
    }
    .ds-hgroup{
        float: none;
        width: 100%;
        margin: 0 0 20px;
        background: none;
        border:none;
        border-radius: 0;
        padding:0;
        box-sizing: border-box;
        clear: none;
        background: #E2ECF0;
        box-shadow: 1px 1px 4px -1px rgba(0,0,0,0.2);
        padding: 10px;
        font-size: 16px;
        line-height: 20px;
        .group-group,
        .group-group a{
            text-align: center;
            font-size: 16px;
            font-weight: 400;
            text-transform: uppercase;
            background: #507989;
            color: #fff;
        }
        .group-group{
            margin: -10px -10px 10px;
            padding: 10px;
        }
        .group-group a{
            &:hover{
                background: lighten(#507989, 10%);
                color:#fff;
            }
        }
        .field-ghel-er-program,
        .field-ghel-er-course{
            margin:0;
            .field-label{
                font-size: 0.85714em;
                line-height: 1.5em;
                font-weight: bold;
                color: #424c5e;
                margin:0;
                display: inline;
                color: $secondary;
            }
            a{
                display: inline;
                margin: 0;
                padding: 5px 10px;
                font-size: 12px;
                &:hover{
                    background-color:#f9f9f9;
                }
                &:active, 
                &.active {
                    background-color: #314e88;
                    color: #FFF;
                }
            }
        }
    }
}

